.navbar-brand img {
  width: 270px;
}
.exp-home2-header .exp-home2-banner {
  padding: 171px 0 134px 0px;
}

.navigation-wrap {
  background: #ffffff;
  padding-bottom: 0px;
}
.navbar-light .navbar-nav .nav-link {
  color: #000;
}

.start-header.scroll-on {
  background: white;
}
